// Imports
@import "vendor";
@import "variables";
@import "fonts";
@import "mixins";

// Styles
body {
    font-family: $family, sans-serif;
    background-color: $secondary-color;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover,
    &:visited,
    &:active {
        text-decoration: none;
    }
}

nav {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    box-shadow: 0 20px 150px #000000;
    border-radius: 5px;

    .menu {
        background-color: $main-color;
        width: 275px;
        border-radius: 5px;

        a {
            opacity: .8;
        }

        li {
            cursor: pointer;
            padding: 15px 20px;
            font-weight: $bold;
            font-size: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            &:last-child {
                border-bottom: none;
            }

            span {
                display: inline-block;
                width: 24px;
                padding-right: 16px;
                font-size: 24px;
                text-align: center;
            }

            &:hover a {
                opacity: 1;
            }
        }

        .sub-menu {
            padding: 0;
            background-color: $secondary-color;
            display: none;
            animation: sumbenu-fade .2s ease-in;

            &-toggle:hover+.sub-menu {
                display: block;
            }

            &:hover {
                display: block;
            }

            &-toggle {
                position: relative;
            }

            li:first-child {
                position: relative;
                padding-top: 20px;

                &::before {
                    @include triangle(bottom, 12, $main-color);
                    left: 13px;
                }
            }

            li {
                border-bottom: none;
                font-size: 0.8rem;
                font-weight: $normal;
                border-left: 4px solid transparent;
                transition: .5s;

                &:hover {
                    border-left: 4px solid $main-color;
                }

                &:hover a {
                    opacity: 1;
                }

                a {
                    opacity: .6;
                }
            }
        }

        #messages {
            position: relative;

            &::after {
                @include counter(13, $secondary-color);
            }
        }

        #inbox {
            position: relative;

            &::after {
                @include counter(8, $main-color);
            }
        }

        #drafts {
            position: relative;

            &::after {
                @include counter(5, $main-color);
            }
        }
    }
}

@keyframes sumbenu-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}