@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400, 700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-user-o:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

body {
  font-family: Roboto, sans-serif;
  background-color: #494041;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover, a:visited, a:active {
  text-decoration: none;
}

nav {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  box-shadow: 0 20px 150px #000000;
  border-radius: 5px;
}
nav .menu {
  background-color: #E4644B;
  width: 275px;
  border-radius: 5px;
}
nav .menu a {
  opacity: 0.8;
}
nav .menu li {
  cursor: pointer;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav .menu li:last-child {
  border-bottom: none;
}
nav .menu li span {
  display: inline-block;
  width: 24px;
  padding-right: 16px;
  font-size: 24px;
  text-align: center;
}
nav .menu li:hover a {
  opacity: 1;
}
nav .menu .sub-menu {
  padding: 0;
  background-color: #494041;
  display: none;
  animation: sumbenu-fade 0.2s ease-in;
}
nav .menu .sub-menu-toggle:hover + .sub-menu {
  display: block;
}
nav .menu .sub-menu:hover {
  display: block;
}
nav .menu .sub-menu-toggle {
  position: relative;
}
nav .menu .sub-menu li:first-child {
  position: relative;
  padding-top: 20px;
}
nav .menu .sub-menu li:first-child::before {
  content: "";
  position: absolute;
  top: -1px;
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid #E4644B;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  left: 13px;
}
nav .menu .sub-menu li {
  border-bottom: none;
  font-size: 0.8rem;
  font-weight: 400;
  border-left: 4px solid transparent;
  transition: 0.5s;
}
nav .menu .sub-menu li:hover {
  border-left: 4px solid #E4644B;
}
nav .menu .sub-menu li:hover a {
  opacity: 1;
}
nav .menu .sub-menu li a {
  opacity: 0.6;
}
nav .menu #messages {
  position: relative;
}
nav .menu #messages::after {
  content: "13";
  padding: 4px 11px 4px 10px;
  right: 10px;
  background-color: #494041;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
nav .menu #inbox {
  position: relative;
}
nav .menu #inbox::after {
  content: "8";
  padding: 4px 11px 4px 10px;
  right: 10px;
  background-color: #E4644B;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
nav .menu #drafts {
  position: relative;
}
nav .menu #drafts::after {
  content: "5";
  padding: 4px 11px 4px 10px;
  right: 10px;
  background-color: #E4644B;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@keyframes sumbenu-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
